body {
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.btn-success {
    background-color: #757575;
    border-color: #a3a3a3;
}

.btn-primary {
    background-color: #a3a3a3;
    border-color: #757575;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}